<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DwgViewer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Dosya yöneticisi / e-posta / WhatsApp'tan gelen DWG'ler: MIME tipine göre -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/acad" />
                <data android:mimeType="application/x-acad" />
                <data android:mimeType="application/autocad_dwg" />
                <data android:mimeType="application/dwg" />
                <data android:mimeType="application/x-dwg" />
                <data android:mimeType="application/x-autocad" />
                <data android:mimeType="image/vnd.dwg" />
                <data android:mimeType="image/x-dwg" />
                <data android:mimeType="drawing/dwg" />
                <data android:mimeType="application/vnd.dwg" />
            </intent-filter>

            <!-- MIME tipi bilinmeyen kaynaklar: uzantıya göre (.dwg / .DWG) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.dwg" />
                <data android:pathPattern=".*\\..*\\.dwg" />
                <data android:pathPattern=".*\\..*\\..*\\.dwg" />
                <data android:pathPattern=".*\\.DWG" />
                <data android:pathPattern=".*\\..*\\.DWG" />
                <data android:pathPattern=".*\\..*\\..*\\.DWG" />
            </intent-filter>

            <!-- DXF -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/dxf" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="application/x-dxf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.dxf" />
                <data android:pathPattern=".*\\..*\\.dxf" />
                <data android:pathPattern=".*\\.DXF" />
                <data android:pathPattern=".*\\..*\\.DXF" />
            </intent-filter>

            <!-- "Paylaş" menüsünden gelen dosyalar -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
