<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DwgViewer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode|density|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Dosya yöneticisi / e-posta / WhatsApp'tan gelen DWG'ler: MIME tipine göre -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/acad" />
                <data android:mimeType="application/x-acad" />
                <data android:mimeType="application/autocad_dwg" />
                <data android:mimeType="application/dwg" />
                <data android:mimeType="application/x-dwg" />
                <data android:mimeType="application/x-autocad" />
                <data android:mimeType="image/vnd.dwg" />
                <data android:mimeType="image/x-dwg" />
                <data android:mimeType="drawing/dwg" />
                <data android:mimeType="application/vnd.dwg" />
            </intent-filter>

            <!-- MIME tipi bilinmeyen kaynaklar: uzantıya göre (.dwg / .DWG) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.dwg" />
                <data android:pathPattern=".*\\..*\\.dwg" />
                <data android:pathPattern=".*\\..*\\..*\\.dwg" />
                <data android:pathPattern=".*\\.DWG" />
                <data android:pathPattern=".*\\..*\\.DWG" />
                <data android:pathPattern=".*\\..*\\..*\\.DWG" />
            </intent-filter>

            <!-- DXF -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/dxf" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="application/x-dxf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.dxf" />
                <data android:pathPattern=".*\\..*\\.dxf" />
                <data android:pathPattern=".*\\.DXF" />
                <data android:pathPattern=".*\\..*\\.DXF" />
            </intent-filter>

            <!-- PDF, Word, Excel, ZIP, RAR, KML/KMZ, GPX, GeoJSON, JSON, CSV ve düz metin
                 (image/* ve text/* geneli bilerek yok: uygulama her resim seçicisinde görünmesin) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/vnd.rar" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/vnd.google-earth.kml+xml" />
                <data android:mimeType="application/vnd.google-earth.kmz" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/geo+json" />
                <data android:mimeType="application/json" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.PDF" />
                <data android:pathPattern=".*\\.docx" />
                <data android:pathPattern=".*\\.doc" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\.ZIP" />
                <data android:pathPattern=".*\\.rar" />
                <data android:pathPattern=".*\\.RAR" />
                <data android:pathPattern=".*\\.xlsx" />
                <data android:pathPattern=".*\\.XLSX" />
                <data android:pathPattern=".*\\.kml" />
                <data android:pathPattern=".*\\.KML" />
                <data android:pathPattern=".*\\.kmz" />
                <data android:pathPattern=".*\\.KMZ" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:pathPattern=".*\\.GPX" />
                <data android:pathPattern=".*\\.geojson" />
                <data android:pathPattern=".*\\.ncn" />
                <data android:pathPattern=".*\\.NCN" />
                <data android:pathPattern=".*\\.nct" />
                <data android:pathPattern=".*\\.NCT" />
                <data android:pathPattern=".*\\.csv" />
                <data android:pathPattern=".*\\.txt" />
            </intent-filter>

            <!-- Google ile giriş: OAuth yönlendirmesi (şema istemci kimliğinden türetilir) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${googleRedirectScheme}" android:path="/oauth2redirect" />
            </intent-filter>

            <!-- "Paylaş" menüsünden gelen dosyalar -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
